<div id="modalExpiration" class="modal fade" 
   data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-2x fa-key" style="color:#fff;" aria-hidden="true"></i>
          &nbsp;&nbsp;
          <h4 class="modal-title">{{titleModal}}</h4>  
        </div>
        <div class="modal-body">
            <span class="message-expiration">{{messageExpiration}}</span>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="logout()" class="btn btn-info">Aceptar</button>  
        </div>
      </div>
  </div>
</div>
