<div class="row col-md-12 col-sm-12">
        <b> Ruc: </b> 
        
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text"[(ngModel)]="ruc" name="ruc2" class="form-control col-md-2 col-sm-4 input-control-venta"/>
    &nbsp; 
    <b>N. Cliente:</b>
    &nbsp;
    <input type="text" [(ngModel)]="nombre" name="nombre2" class="form-control col-md-3 col-sm-4 input-control-venta"/>
    &nbsp;
    <b>Direccion:</b>
    &nbsp;&nbsp;
    <input type="text" [(ngModel)]="direccion" name="direccion2" class="form-control col-md-3 col-sm-4 input-control-venta"/>
   &nbsp;&nbsp;
</div>
  <p></p>
<div class = "row col-md-12 col-sm-12">
    &nbsp;
    <b>T. Pago:</b>
    &nbsp;
    <select id="tipopago" pago="tipopago" [(ngModel)]="tipopago" class="form-control col-md-2 col-sm-2">
        <option *ngFor="let tpago of listTipoPago" [value]="tpago.id">
          {{tpago.pago}}
        </option>
    </select>
  &nbsp;
    <b> Proforma:</b>
  &nbsp;
  <input type="text" [(ngModel)]="proforma" name="proforma2" class="form-control col-md-3 col-sm-4 input-control-venta" />  
  &nbsp;
  <b>Vendedor:</b>
  &nbsp;
  <select id="vendedor" vendedor="vendedor" [(ngModel)]="vendedor" class="form-control col-md-3 col-sm-2">
      <option *ngFor="let vend of listVendedor" [value]="vend.id">
        {{vend.vendedor}}
      </option>
  </select>

</div>
  <p></p>
    <div class = "row col-md-12 col-sm-12">
      <b> Obserservciones:</b>
      &nbsp;
      <input type="text" [(ngModel)]="observaciones" name="observaciones2" class="form-control col-md-4 col-sm-4 input-control-venta" >
    </div>  


<p></p>

   <p>
      <a (click)="showModalBuscarProducto()"  class="btn btn-primary btn-lg input-control-venta">Buscar Producto</a>
    </p>

<p></p>

<table class="table-bordered">
    <thead>
      <tr>
        <th scope="col" height="4px" width="30px">#</th>
        <th scope="col" height="4px" width="100px">Código</th>
        <th scope="col" height="4px" width="300px">Producto</th>
        <th scope="col" height="4px" width="80px">Cantidad</th>
        <th scope="col" height="4px" width="80px">Dscto.</th>
        <th scope="col" height="4px" width="100px">Precio</th>
        <th scope="col" height="4px" width="100px">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducto; let idx = index">
        <th scope="row">{{idx+1}}</th>
        <td>{{item.codigo}}</td>
        <td>{{item.producto}}</td>
        <td><input type="text" [(ngModel)]="item.cantidad" name="cantidad" class="form-control" (keyUp)="actualizaCosto()"/></td>
        <td>{{item.descuento}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.total}}</td>
      </tr>
      <tr>
        <th colspan="6"><b>Total General </b></th>
        <td><b>suma</b></td>
      </tr>
    </tbody>
    </table>
  
  <p></p>
<div class="row col-md-12 col-sm-6">
  
  <a (click)="showModalDocument('factura')"  class="btn btn-primary btn-lg input-control-venta">Factura</a>
  &nbsp;
  <a (click)="showModalDocument('boleta')" class="btn btn-primary btn-lg input-control-venta" >Boleta</a>
  &nbsp;
  <a (click)="showModalDocument('ticket')" class="btn btn-primary btn-lg input-control-venta" >Ticket</a>
  &nbsp;
  <a (click)="showModalDocument('proforma')" class="btn btn-primary btn-lg input-control-venta" >Proforma</a>
  &nbsp;
  <a (click)="showModalDocument('remito')" class="btn btn-primary btn-lg input-control-venta">Remito</a>
  &nbsp;
  <a (click)="showModalDocument('notacredito')" class="btn btn-primary btn-lg input-control-venta" >Nota Credito</a>
</div>
<app-modal-buscar [parentObj] = "parentComponent"></app-modal-buscar>
<app-modal-documento [parentObj] = "parentComponent"></app-modal-documento>

