<div class="jumbotron jumbotron-fluid">
  <div class="row col-md-12 col-sm-12">
    <div>
      <b> Producto </b> 
      <input type="text"[(ngModel)]="producto" name="producto2" class="form-control col-md-12"/>
    </div>
    &nbsp;
    <div>
    <b>Marca</b>
    <input type="text" [(ngModel)]="marca" name="marca2" class="form-control col-md-12"/>
    </div>
    &nbsp;
    <div>
    <b>Familia</b>
    <input type="text" [(ngModel)]="familia" name="familia2" class="form-control col-md-12"/>
    </div>
    &nbsp;
    <div>
      <b>Almacen</b>
      <select id="almacen" Almacen="almacen" [(ngModel)]="almacen" class="form-control col-md-12 col-sm-12">
        <option *ngFor="let alm of listAlmacen" [value]="alm.id">
          {{alm.Almacen}}
        </option>
    </select>
      </div>
      &nbsp;
      <div>
        <b>Proveedor</b>
        <input type="text" [(ngModel)]="proveedor" name="proveedor2" class="form-control col-md-12"/>
      </div>
      &nbsp;&nbsp;&nbsp;
    
      <p>
        <a (click)="showModalAgregarProducto()"  class="btn btn-primary btn-lg input-control-venta">Nuevo</a>
      </p>
  </div>
</div>

<table class="table-bordered">
  <thead>
    <tr>
      <th scope="col" height="4px" width="100px">Código</th>
      <th scope="col" height="4px" width="300px">Producto</th>
      <th scope="col" height="4px" width="150px">Marca</th>
      <th scope="col" height="4px" width="150px">Familia.</th>
      <th scope="col" height="4px" width="200px">Proveedor</th>
      <th scope="col" height="4px" width="100px">Precio Compra</th>
      <th scope="col" height="4px" width="100px">Precio Venta</th>
      <th scope="col" height="4px" width="200px">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listProductoP">
      <td>{{item.codigo}}</td>
      <td>{{item.producto}}</td>
      <td>{{item.marca}}</td>
      <td>{{item.familia}}</td>
      <td>{{item.proveedor}}</td>
      <td>{{item.preciocompra}}</td>
      <td>{{item.precioventa}}</td>
      <td>{{item.imagen}}</td>
    </tr>
   </tbody>
  </table>
  <!--
  <app-modal-agregar [parentObj] = "parentComponent"></app-modal-agregar>
  -->