<div class="container-sidebar">
  <ul>
    <li class="nav-item {{submenu.active}} submenu-item" *ngFor="let submenu of parent.subMenuList" >
      <a class="nav-link" [routerLink]="[submenu.urlLink]"   >
        <i class="{{submenu.iconOption}}" aria-hidden="true"></i>
        {{submenu.nameOption}}
      </a>
    </li>
  </ul>
</div>