.container-sidebar{
   float: right;
}
.container-sidebar ul{
  margin:-3px auto;
}
.container-sidebar li{ text-decoration-style: none;list-style: none; float: left;}
.container-sidebar a{
    text-decoration: none;
    color:#fff;

}