<!--
<div class="row col-md-12 col-sm-12">
    
    <div>
      <b> Ruc </b> 
      <input type="text"[(ngModel)]="ruc" name="ruc2" class="form-control col-md-12 col"/>
    </div>
    &nbsp;
    <div>
      <b>Proveedor</b>
    <input type="text" [(ngModel)]="Proveedor" name="Proveedor2" class="form-control col-md-12"/>
    </div>
    &nbsp;
    
    

<p></p>

      <div>
        <b>Fecha OC</b>
        <input type="date" [(ngModel)]="fechaoc" name="fechaoc2" class="form-control col-md-12"/>
      </div>
        &nbsp;
      <div>
        <b>Fecha Ingreso</b>
        <input type="date" [(ngModel)]="fechaingreso" name="fechaingreso2" class="form-control col-md-12"/>
      </div>
  
</div>

<p></p>
<p>
  <a (click)="showModalBuscarCompras()"  class="btn btn-primary btn-lg input-control-venta">Buscar Producto</a>
</p>



<p></p>

<table class="table-bordered">
  <thead>
    <tr>
      <th scope="col" height="4px" width="30px">#</th>
      <th scope="col" height="4px" width="100px">Código</th>
      <th scope="col" height="4px" width="300px">Producto</th>
      <th scope="col" height="4px" width="150px">Cantidad</th>
      <th scope="col" height="4px" width="150px">precio</th>
      <th scope="col" height="4px" width="200px">Total</th>
      <th scope="col" height="4px" width="100px">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listCompras; let idx=index;">
      <th scope="row">{{idx+1}}</th>
      <td>{{item.codigo}}</td>
      <td>{{item.producto}}</td>
      <td><input type="text" [(ngModel)]="item.cantidad" name="cantidad" class="form-control" (keyUp)="actualizaCosto()"/></td>
      <td>{{item.precio}}</td>
      <td>{{item.total}}</td>
      <th scope="row">{{eliminar}}</th>
    </tr>

    <tr>
        <th colspan="5"><b>Total General </b></th>
        <td><b>suma</b></td>
    </tr>

   </tbody>
  </table>

  <app-modal-agregar-compras [parentObj] = "parentComponent"></app-modal-agregar-compras>
  
-->

   
    