<!-- MODAL USER -->
<div id="modalUser" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-2x fa-file-text-o" style="color:#fff;" aria-hidden="true"></i>
          &nbsp;&nbsp;
          <h4 class="modal-title">{{parent.titleModal}}</h4>  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="login-form">
              <div *ngIf="showMessageModal" class="alert {{typeAlertModal}}" >
                  <strong>{{titleMessageModal}}</strong>
                  <p> {{messageModal}}</p>
              </div>
              <!--
              <div style="text-align:center;">
                  <img src="{{root_path_image}}{{image_user_name}}" width="150" height="150" />
                  <input type="file" id="file-image-user" style="display:none" /><br />
                  <button style="margin-top:5px;" type="button" 
                  (click)="loadImage()" class="btn btn-login">Cargar Imagen</button>
              </div><br />
              -->
              <div class="row">
                  <div class="col-md-4 col-sm-4">
                      <label >Nombre Usuario:</label>
                      <input  [(ngModel)]="parent.userEditParent.names" maxlength="100"  
                       id="inputName" name="inputName" class="form-control form-control-sm" placeholder=""> 
                  </div>
                  <div class="col-md-4 col-sm-4" *ngIf="listRolesInput.length>1">
                      <label for ="input-role" >P&eacute;rfil:</label>&nbsp;&nbsp;
                      <select id ="input-role" [(ngModel)] = "parent.userEditParent.role.idRole" name="inputRole"
                          class="form-control form-control-sm" >
                          <option *ngFor="let item of listRolesInput" [value]="item.idRole" >
                              {{item.name}}
                          </option>
                      </select>  
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <label for ="input-state" *ngIf="parent.isEditMode" >Estado:</label>&nbsp;&nbsp;
                      <select id ="input-state" *ngIf="parent.isEditMode" [(ngModel)] = "parent.userEditParent.estate.idState" name="inputState"
                          class="form-control form-control-sm"  >
                          <option *ngFor="let item of listStateInput" [value]="item.idState">
                              {{item.name}}
                          </option>
                      </select>
                  </div>   
                  <div class="col-md-4 form-group">
                      <label for ="input-type-nif" >Tipo Documento:</label>&nbsp;&nbsp;
                      <select id ="input-type-nif" [(ngModel)] = "parent.userEditParent.typeNif.idDocument" name="inputTypeDoc"
                          class="form-control form-control-sm"  >
                          <option *ngFor="let item of listTypeDocumentInput" [value]="item.idDocument">
                              {{item.name}}
                          </option>
                      </select>   
                  </div>
                  <div class="col-md-4 form-group">
                      <label>N&uacute;mero Documento:</label>
                      <input  [(ngModel)]="parent.userEditParent.numberNif" 
                       name="inputNif" max="15" maxlength="15" type="number"
                       class="form-control form-control-sm" placeholder="" >
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Email:</label>
                      <input type="email"  maxlength="60"
                      [(ngModel)]="parent.userEditParent.email" name="inputEmail"
                       email="true" class="form-control form-control-sm" placeholder="">
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <label for ="input-sex"  >Sexo:</label>&nbsp;&nbsp;
                      <select id ="input-sex"  
                          [(ngModel)] = "parent.userEditParent.sex" 
                          name="inputSex" class= "form-control form-control-sm select-picker"  >
                          <option *ngFor="let item of parent.listSexInput" [value]="item.idRegister"  >
                              {{item.name}}
                          </option>
                      </select>
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Direcci&oacute;n:</label>
                      <input type="text"  maxlength="60"
                      [(ngModel)]="parent.userEditParent.address" name="inputAddress"
                       class="form-control form-control-sm" placeholder="">
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Celular:</label>
                      <input type="text"  maxlength="60"
                      [(ngModel)]="parent.userEditParent.movilNumber" name="inputMovilNumber"
                       class="form-control form-control-sm" placeholder="">
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Tel&eacute;fono Fijo:</label>
                      <input type="email"  maxlength="60"
                      [(ngModel)]="parent.userEditParent.landLine" name="inputLandLine"
                      class="form-control form-control-sm" placeholder="">
                  </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="saveUser()" class="btn btn-info">Grabar</button>  
        </div>
      </div>
  </div>
</div>
