<!--
<div class="modal fade" id="modal-agregar-producto">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{parent.titleDocument}}</h4>
      <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
      <div class="modal-body">
          <div class = "row col-md-12">
             <b>Codigo:</b>
              &nbsp;
              <input type="text" [(ngModel)]="codigo" name="codigo2" class="form-control col-md-3"/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <b>Producto:</b>
              &nbsp;&nbsp;&nbsp;
             <input type="text" [(ngModel)]="producto" name="producto2" class="form-control col-md-6"/>
          </div>
          <p></p>
           <div class = "row col-md-12">
             <b>Marca:</b>
              &nbsp;&nbsp;&nbsp;
              <input type="text" [(ngModel)]="marca" name="marca2" class="form-control col-md-3"/>

               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <b>Familia:</b>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" [(ngModel)]="familia" name="familia2" class="form-control col-md-6"/>

            </div>
            <p></p>
            <div class = "row col-md-12">
              <b>Ruc:</b>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="text" [(ngModel)]="ruc" name="ruc2" class="form-control col-md-3"/>
 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Proveedor:</b>
               &nbsp;
               <input type="text" [(ngModel)]="proveedor" name="proveedor2" class="form-control col-md-6"/>
 
             </div>

             <p></p>
            <div class = "row col-md-12">
              <b>P. Compra:</b>
               &nbsp;
               <input type="text" [(ngModel)]="preciocompra" name="ruc2" class="form-control col-md-2"/>
 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>P. Venta:</b>
               &nbsp;
               <input type="text" [(ngModel)]="precioventa" name="precioventa2" class="form-control col-md-2"/>
 
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <b>Imagen:</b>
              &nbsp;
              <img src="..." alt="..." class="img-thumbnail">
             
            </div>

          <div class="modal-footer">
            <button tyle="button" class="btn btn-default" (click)="selectProducto()">Crear</button>
            <button tyle="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
          </div>
  </div>
</div>
</div>
-->