<header class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light menu-system">
      <img src="{{imageCompany}}" class="img-logo" />
      <!--<a class="navbar-brand" href="/init">{{titleHeader}}</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{menu.active}} menu-item" *ngFor="let menu of menuList" >
            <a class="nav-link" (click)="selectMenu(menu)" [routerLink]="[menu.urlLink]" [queryParams] = "{p:menu.nameOption}"   >
              <i class="{{menu.iconOption}}" aria-hidden="true"></i>
              {{menu.nameOption}}
            </a>
          </li>
        </ul>
        <span class="navbar-text">
            <label style="color:#fff;">{{userAccount.names}}</label>
            &nbsp;&nbsp;
            <label (click)="logout()" class="logout-link">
                <span >Cerrar Sesi&oacute;n</span>
            </label>
        </span>
      </div>
    </nav>
  </header>
  <app-message-system ></app-message-system>  
