<div class="container-page" style="background:url('/assets/images/fondo_1.jpg')">
  <div class="container-login" >
    <div class="col-md-12 col-sm-12">
      <div class="col-md-12 col-sm-12" >
        <form >
            <div class="col-md-12 col-sm-12">
                <img src="/assets/images/logo_1.jpg" class="image-logo" />
                  <h5 class="title-login">Buenas Rutas Per&uacute;</h5>
                  <h5 class="title-login">Inicio Sesi&oacute;n</h5>
              
            </div>
            <div class="col-md-12 col-sm-12" style="margin:15% 0 0 8%">
                <label for="inputUserName" class="label">Usuario:</label>
                <input type="text" class="form-control form-control-sm input-login"
                [(ngModel)] = "inputUserName" name="inputUserName" id="inputUserName"
                placeholder="" autofocus="autofocus"  />
                <label for="inputPassword" class="label">Clave:</label>
                <input type="password" class="form-control form-control-sm input-login"
                [(ngModel)] = "inputPassword" name="inputPassword" id="inputPassword"
                placeholder="" />
                <div *ngIf="loginResponse.showMessage" class="alert {{loginResponse.typeMessage}}" style="text-align: center;width:85%">
                    <strong>{{loginResponse.titleMessage}}</strong>
                    <p> {{loginResponse.message}}</p>
                </div>
                <div class="col-md-12" style="text-align:center;">
                  <img *ngIf="isLoading"  src="/assets/images/loading2.gif" width="135" style="margin-left:-75px" />
                </div>
                <button class="button-control" (click)="loginUser()"  >Ingresar</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>