.container-login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 450px;
  padding: 20px;  
  color: #fff;
  text-align: left;
  background:rgba(175,40,28,.9);
}
.image-logo{
  border-radius: 100%;
  width:100px;
  height: 100px;
  position: absolute;
  top:-15px;
  left:15px;

}
.title-login{
  margin-left: 35px;
  font-weight: 600;
  text-align: center;
  font-family: Montserrat-ExtraBold,serif;
}
.input-login{
  border:none;
  margin:3px 3px 3px 3px;
  width:80%;
	padding:15px 20px;
  border-radius:25px;
  font-family: Montserrat-Regular,serif;
  color:#fff;
	background:rgba(255,255,255,.1);
}
.button-control{
  width: 80%;
  height: 35px;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  text-align: center;
  background: #343a40;
  color:#fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.container-page {
  width: 100%;  
  min-height: 100vh;
  display: -wetnkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Montserrat-Regular;
  src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('/assets/fonts/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('/assets/fonts/montserrat/Montserrat-Bold.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}


.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}