.message-system{
    max-width: 600px;
    min-width: 350px; 
    border-radius: 10px;
    position: absolute;
    right:2%;
    top:2%;
    z-index: 999999;
}
.message-system p{
    word-wrap: break-word;
}
