.ui-p-1{ width:10%;text-align: center;}
.ui-p-2{width:10%;text-align: center;}
.ui-p-3{width:10%;text-align: center;}
.ui-p-4{width:25%;}
.ui-p-5{width:15%;}
.ui-p-6{width:10%;}
.ui-p-7{width:8%;}
.ui-p-8{width:10%;}

.filter-user-select{
    width:160px;
}
.row-ui-2{text-align: center;}
.row-ui-3{text-align: center;}
.row-ui-4{text-align: left;}
.row-ui-5{text-align: left; word-wrap: break-word;}
.row-ui-6{text-align: center;}
.row-ui-7{text-align: center;}
.row-ui-8{text-align: left;}