<div
class="modal fade" id="modal-buscar-producto">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{parent.titleDocument}}</h4>
      <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
      <div class="modal-body">
          <div class = "row col-md-12 col-sm-12">
          <b>Buscar:</b>
          &nbsp;&nbsp;
          <input type="text" [(ngModel)]="buscar" name="buscar2" class="form-control col-md-8"/>
      </div>
      <p></p>
  <table class="table-bordered">
      <thead>
        <tr>
          <th scope="col" height="4px" width="100px">Código</th>
          <th scope="col" height="4px" width="300px">Producto</th>
          <th scope="col" height="4px" width="150px">Marca</th>
          <th scope="col" height="4px" width="80px">Precio</th>
          <th scope="col" height="4px" width="80px">Stock</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of productoSelect">
            <td>{{item.codigo}}</td>
            <td>{{item.producto}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.stock}}</td>
          </tr>
        </tbody>
  </table>
      </div>
        <div class="modal-footer">
          <button tyle="button" class="btn btn-default" (click)="selectProducto()">Agregar</button>
          <button tyle="button" class="btn btn-primary" data-dismiss="modal">Regresar</button>
        </div>
  </div>
</div>
</div>
