  <div
      class="modal fade" id="modal-document-venta">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{parent.titleDocument}}</h4>
            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
            <div class="modal-body">
              <div class = "row col-md-12 col-sm-12">
                <b>Tipo Pago:</b>
                  &nbsp;
                  Efectivo
                  &nbsp;&nbsp;
                  <b>Moneda:</b>
                  &nbsp;
                  <select id="tipomoneda" moneda="tipomoneda"[(ngModel)]="parent.tipomoneda" class="form-control col-md-3">
                    <option *ngFor="let tmoneda of parent.listMoneda" [value]="tmoneda.id">
                      {{tmoneda.moneda}}
                    </option>
                  </select>
                  
              </div>
              

          </div>
              <div class="modal-footer">
                <button tyle="button" class="btn btn-default">Imprimir</button>
                <button tyle="button" class="btn btn-primary" data-dismiss="modal">Regresar</button>
              </div>
        </div>
      </div>
  </div>
  