<div id="main-wrapper">
  <app-expiration-module></app-expiration-module>
  <app-header [parentObj] = "parentComponent" ></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">
          <div class="container-title-children">
              <h4 class="col-md-4 col-sm-4" style="float:left;">{{titlePage}}</h4>
              <app-sidebar class="col-md-8 col-sm-8" [parentObj] = "parentComponent"></app-sidebar>
          </div>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>



