.modal-header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
.modal-title{
    color:#fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.message-system{
    position: absolute;
    top:5%;
    right:3%;
    border: 1px solid orange;
}
.alert-success{
    background: #299a0b; /* Old browsers */
    background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
    color:#fff;
    vertical-align: middle;
    
}
.alert-danger{
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
    vertical-align: middle;
    color:#fff;
}
.alert-warning{
    background: #e5b929!important;
    vertical-align: middle;
    color:#fff!important;
}
.alert-danger p,strong{
    color:#fff!important;
}
.ui-table-caption{
    font-size: 13px!important;
    background:#343a40!important;
    color:#fff!important;
}
.ui-table-summary{
    font-size: 13px!important;
    background:#343a40!important;
    color:#fff!important;
}
.ui-paginator-bottom{
    font-size: 13px!important;
    background:#343a40!important;
    color:#fff!important;
}
.ui-column{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
     background: #3f4c6b!important; /* Old browsers */
     background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%)!important; /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%)!important; /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 )!important; /* IE6-9 */
     color:#fff!important;
     font-size: 12px;
}
